body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25mm;
    width: 50%;
    padding: 10px 20px;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 2em;
    border: 1px solid black;
}

input{
    font-size: 2em;
}

button{
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

select {
    width: 150px;
    height: 40px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px;
}

#msg {
    margin-top: 20px;
}

#msg2 {
    margin-top: 10px;
}
